<!--doctype html-->
<html>
  <title>Home Page</title>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--title-icon--------->

    <link rel="stylesheet"  href="css/main.css" />
    <!--using FontAwesome---------------->
    <script
      src="https://kit.fontawesome.com/c8e4d183c2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--main------------------------>
    <section id="main">
      <!--navigation-------------------------------->
      <nav>
        <!--logo--->
        <a href="#" class="logo"><img src="img/reddit1.jpg"></a>
        <!--menu--------->
        <div class="toggle"></div>
        <ul class="menu">
          <li class="active"><a href="/main">Home</a></li>
          <li ><a href="/user_posts">User's Post</a></li>
          <li><a href="/posts_links">Posts with Links</a></li>
          <li><a href="/authors">Top Authors</a></li>
          <li><a href="/domains">Most shared domains</a></li>
          <li><a href="/main#contact-btn">Contact</a></li>
          <li><a href="/logout">Log Out</a></li>


        </ul>
      </nav>
      <!--name--------------------------->
      <div class="name">
        <!--hello------->
        <p><h1>Hey !!</h1></p>
        <!--name--->
        <h1>I am your <font color="#17d1ac"> Reddit app</font> </h1>
        <!--details--------------->
        <h3 >I provide you the insight about the posts shared with links</h3>
      </div>

    </section>



    <!--Contact-btn------------------>
    <section id="contact-btn">
      <!--heading-------------->
      <br>
      <h1 class="c-b-heading">Want to collaborate for some exciting projects??</h1>
      <!--btn-------->
      <h4>daksh bhatia</h4>
<!-- Link for email  -->
      <a  class=”link” href="mailto:daksh2210@gmail.com" target="_blank">
      <button>Contact Me
      </button></a>
    </section>


    <script type="text/javascript" src="js/JQuery3.3.1.js"></script>
  </body>
</html>
